/* file: src/components/InstrumentSelectionModalView/InstrumentSelectionModalView.css */

#modal-container {
    display: none;
}

#modal-container.is-visible {
    display: block;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.modal-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 40rem; /* ~640px */
    max-height: 80vh; /* Max height is 80% of the viewport height */
}

.modal-body {
    /* The body will grow to fill the available space in the modal content flex container */
    flex-grow: 1;
    min-height: 12.5rem; /* ~200px */
}

/* Ensure the columns within the body also grow */
.modal-body > div {
    height: 100%;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}