/* file: src/components/InstrumentSelectionModalView/InstrumentSelectionModalView.css */

#modal-container {
    display: none;
}

#modal-container.is-visible {
    display: block;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    display: flex;
    flex-direction: column;
}

.modal-body {
    min-height: 200px;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}