/* file: src/components/MeasureLayoutView/MeasureLayoutView.css */

:root {
    --panel-gap: 1rem;
}

.measure-layout-view__panels {
    display: flex;
    flex-direction: column;
    gap: var(--panel-gap);
}